<table class="table table-striped">
    <thead>
        <tr>
            <th>Poster</th>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th>
                <input type="search" ng-model="query.title" placeholder="Search..." class="from-control">
            </th>
        </tr>
    </thead>
    <tbody>
        <!-- ng-if="userRented(item.userRent) == true" -->
        <tr ng-repeat="item in model | filter:query">
            <td>
                <img ng-src="{{::item.poster_url}}" alt="{{::item.title}}'s poster" title="{{::item.title}}">
            </td>
            <td>
                <b>{{::item.title}}</b> {{::item.username}} :User
            </td>
            <td>
                {{::item.release_date | date: "dd/MM/yyyy"}}
            </td>
            <td>
                {{::item.rating}}
            </td>
            <td>
                <a href="#{{::getDetailUrl({ stuff: item }) }}" class="btn btn-default">View</a>
                <button ng-click="rentMovie({ stuff: item })" class="btn btn-default">Rent</button>
                <br>
                <br>
                <div class="alert alert-success" ng-show="rented==true && rentedId=={{item.id}}">
                    <strong>Success!</strong> The movie has been rented.
                </div>
                <div class="alert alert-danger" ng-show="rented==false && rentedId=={{item.id}}">
                    <strong>Danger!</strong> The movie is already rented.
                </div>
                <div class="alert alert-info" ng-if="item.userRent">
                    <strong>Info!</strong> The movie is rented by {{item.userRent}}.
                </div>
            </td>
        </tr>
    </tbody>
</table>
