<div ng-controller="RecipeListController">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Recipe</th>
                <th>Tags</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr ng-repeat="item in model | filter:query"> -->
            <tr ng-repeat="item in model">
                <td>
                   <img width="185px" height="278px" ng-src="{{::item.image}}"> 
                    <!--  <img ng-src="{{::item.image}}">-->
                </td>
                <td>
                    <b>{{::item.name}}</b>
                </td>
                <td>
                    {{::item.categories}}
                </td>
                <td>
                    <a href="#{{::getDetailUrl({ stuff: item }) }}" class="btn btn-default">View</a>
                    <br>
                </td>
            </tr>
        </tbody>
    </table>
</div>
