<nav class="navbar navbar-default" ng-controller="MenuController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#{{::paths.movieList}}">Pelis Angular</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="getClassForItem(paths.movieList)">
                    <a href="#{{::paths.movieList}}">Movies</a>
                </li>
                <li ng-class="getClassForItem(paths.movieRentList)">
                    <a href="#{{::paths.movieRentList}}">Rented</a>
                </li>
                <li ng-class="getClassForItem(paths.movieUserList)">
                    <a href="#{{::paths.movieUserList}}">My Movies</a>
                </li>
                <li ng-class="getClassForItem(paths.newMovie)">
                    <a href="#{{::paths.newMovie}}">Add Movie</a>
                </li>
                <li ng-class="getClassForItem(paths.login)" ng-click="logout()">
                    <a href="#{{::paths.login}}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
