<div ng-controller="MoviesListController">
    <h1 align="center">Movies</h1>
    <button ng-click="model=[]">Delete All</button>
    <div class="jumbotron" ng-show="uiState=='blank'">
        <p class="lead">No data hear</p>
    </div>
    <div class="alert alert-danger" ng-show="uiState=='error'">
        Error while loading data
    </div>
    <div ng-include="'views/ProgressBar.html'" ng-show="uiState=='loading'"></div>
    <media-item-list items="model" get-detail-url="getMovieDetailURL(stuff)" rent-movie="rentMovie(stuff)" ng-show="uiState=='ideal'" rented="rented" rented-id="rentedId">
    </media-item-list>
</div>
