<div class="row">
    <div class="col-xs-12 col-sm-3">
        <img src="{{::model.poster_url}}" class="img_responsive">
    </div>
    <div class="col-xs-12 col-sm-9">
        <h1>{{::model.title }}</h1>
        <p>{{ model.categories }}</p>
        <p></p>
        <div class="row">
            <div class="col-xs-7">
                {{::model.release_date | date:"dd/MM/yyyy" }}
            </div>
            <div class="col-xs-5">
                <div class="text-left">
                    {{ ::model.rating }}
                </div>
            </div>
        </div>
        <p></p>
        <p>{{::model.overview }}</p>
        <p></p>
        <div class="row">
            <div class="col-xs-6">
                Author: {{ ::model.username}}
            </div>
            <div class="col-xs-6">
                <div class="text-left">
                    Date Created: {{ ::model.dateCreated | date:"dd/MM/yyyy" }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center" >
        <iframe class="youtube-player" width="640" height="385" type="text/html" ng-src="{{trustSrc(model.movie_url)}}" allowfullscreen frameborder="0">
        </iframe>
    </div>
</div>
