<div ng-controller="AddRecipeController">
    <div class="text-center">
        <h1> Add Recipe </h1>
        <form name="createRecipe" novalidate class="form-signin" ng-submit="addRecipe()">
            <div class="row">
                <div class="col-sm-3">
                    <label for="recipeTitle">Recipe Title</label>
                    <br>
                    <input type="text" name="recipeTitle" placeholder="Title..." class="form-control" autofocus required ng-model="model.title">
                    <br>
                    <div class="text-danger" ng-show="createRecipe.recipeTitle.$dirty && createRecipe.recipeTitle.$error.required">
                        Title is required
                    </div>
                    <br>
                    <label for="poster">Poster</label>
                    <br>
                    <input type="url" name="poster" placeholder="URL Image..." class="form-control" required ng-model="model.poster_url">
                    <br>
                    <div class="text-danger" ng-show="createRecipe.poster.$dirty && createRecipe.poster.$error.required && createRecipe.poster.url">
                        Url is required
                    </div>
                    <br>
                    <label for="recipe_url">Recipe</label>
                    <br>
                    <input type="url" name="recipe_url" placeholder="URL Image..." class="form-control" required ng-model="model.poster_url">
                    <br>
                    <div class="text-danger" ng-show="createRecipe.recipe_url.$dirty && createRecipe.recipe_url.$error.required && createRecipe.recipe_url.url">
                        Url is required
                    </div>
                    <br>
                </div>
                <div class="col-sm-3">
                    <label for="year">Year</label>
                    <br>
                    <input type="date" name="year" class="form-control" required ng-model="model.release_date">
                    <br>
                    <div class="text-danger" ng-show="createRecipe.year.$dirty && createRecipe.year.$error.required">
                        <br> Date is required
                    </div>
                    <br>
                    <label for="rating">Rating</label>
                    <br>
                    <input type="number" min="0" max="10" step="1" value="0" name="rating" placeholder="Points" class="form-control" required ng-model="model.rating">
                    <br>
                    <div class="text-danger" ng-show="createRecipe.rating.$dirty && createRecipe.rating.$error.required">
                        <br> Rating is required
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="overview">Overview (Optional)</label>
                    <br>
                    <textarea badwords type="text" name="overview" placeholder="Overview" class="form-control" ng-model="model.overview" rows="6"></textarea>
                    <br>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="!createRecipe.$valid">Add Recipe</button>
                </div>
            </div>
        </form>
    </div>
</div>
